*{
    margin: 0;
    color: rgb(59, 57, 57);
    font-size: 13px;
}

body{
    margin: 50px;
    box-sizing: border-box;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 700px;
}

li, ul{
    list-style-type:none;
    padding: 0;
}

a{
    text-decoration: none;
    list-style-type:none;
}

/* body background circles settings */
.backgrund-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.background-right-1{
    width: 200px;
    height: 200px;
    background-color: #62BAED;
    border-radius: 1px solid red;
    border-radius: 50%;
    position: relative;
    top: -80px;
    right: -20px;
}

.background-right-2{
    width: 200px;
    height: 200px;
    background-color: #84C9F1;
    border-radius: 1px solid red;
    border-radius: 50%;
    position: relative;
    bottom: -300px;
    right: -50px;

}

.background-left-1{
    width: 70px;
    height: 70px;
    background-color: #A2D6F3;
    border-radius: 1px solid red;
    border-radius: 50%;
    position: relative;
    right: -140px;
}

.background-left-2{
    width: 250px;
    height: 250px;
    background-color: #84C9F1;
    border-radius: 1px solid red;
    border-radius: 50%;
    position: relative;
    bottom: -300px;
    left: -140px;
}
/* body background circles settings end */


main{
    top: -400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#top-container{
    background-image: url(./img/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#top-menu{
    color: white;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

/* person profil settings */
#profil-main{
    top:-80px ;
    position: relative;
    width: 80%;
    height: 100%;
    background-color: #FEFEFE;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    border-radius: 4%;
    box-shadow:0 1px 1px rgb(59, 57, 57);
}

#profil-photo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative ;
    z-index: 1;
}

.profil-text{    
    margin: 10px;
    text-align: center;
}

h3{
    margin-top: 40px;

}
/* person profil settings end*/

#bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#edf3f3;
}

/* setting-menu settings   */
#menu-container{
    position: relative;
    top: -40px;
    width: 80%;
    height: 100%;
    background-color:#FEFEFE;
    border-radius: 4%;
    box-shadow:0 1px 1px rgb(59, 57, 57);
}

.menu{
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.menu:hover {
    opacity: 0.6;
}
/* setting-menu settings end  */

/* h6 tags settings */
#account-setting{
    top:-28px ;
    position: relative;
}

#privecy-setting{
    top:28px ;
    position: relative;
}
/* h6 tags settings end */

/* all ikons settings */
.fab{
    margin: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(37, 36, 36);
}

.fab:hover, .fas:hover, .fat:hover {
    opacity: 0.6;
}

.fas{
    margin: 10px;
    padding: 8px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-envelope{
    background-color: #5BA4F5;
    color:white;
}

.fa-key{
    color:white;
    background-color: #5CE7B4;
}

.fa-pen{
    color:white;
    background-color: #F888AD;
}

.fa-sign-out-alt{
    color:white;
    background-color: #F3DB7D;
}

.fat{
    color: rgb(37, 36, 36);
    font-size: 16px;
}

.fa-camera{
    background-color: #5CE7B4;
    color:white;
    position: relative;
    z-index:1 ;
    right: -35px;
    top: -50px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fa-ellipsis-h, .fa-angle-left{
    color: white;
}
/* all ikons settings end */

/* footer and navbar of footer settings */
footer{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#bottom-navbar{
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}
/* footer and navbar of footer settings end */

/* media size settings */
@media screen and (min-width: 600px){
    #top-container, #bottom-container, footer{
        width: 480px;
    }

    #profil-main, #menu-container{
        width: 380px;
    }
}
